html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #023047;
  box-sizing: border-box;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 95%,
    rgba(33, 158, 188, 0.1) 100%
  );
}

footer {
  text-align: center;
}

header {
  padding-top: 25px;
  color: #125768;
  text-align: center;
  margin: 0px 5px 25px 275px;
}

h2 {
  padding-top: 25px;
  border-top: solid 3px rgb(233, 231, 229);
  letter-spacing: 1.2px;
  color: #125768;
}

h3 {
  font-weight: 600;
  margin-top: 32px;
}

main {
  padding-top: 25px;
  margin: 0px 0px 25px 275px;
  box-sizing: border-box;
}
nav {
  height: 100dvh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #023047;
  overflow-x: hidden;
  padding-top: 60px;
  border-right: solid 5px #219ebc;
}
nav li {
  list-style: none;
  padding: 10px 10px;
  transition: all 1.5s;
  border-radius: 10px 0 0 10px;
  border-left: solid 1px #219ebc;
  margin-bottom: 3px;
  cursor: pointer;
}
nav li:hover {
  background-color: #219ebc;
  background-blend-mode: color;
}
nav ul {
  padding-inline-start: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: large;
  transition: all;
}
nav a .part1 {
  opacity: 0.8;
  letter-spacing: 1.5px;
}

nav a .part2 {
  display: flex;
}

#endpoints-container {
  width: fit-content;
  margin: 0 auto;
}

.qp-example {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(243, 243, 243);
  width: fit-content;
}

code.res-body,
code.req-body {
  font-family: "Courier New", Courier, monospace;
}

pre {
  background-color: rgb(243, 243, 243);
  border: solid 1px rgb(236, 236, 236);
  border-radius: 3px;
  padding: 16px;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
}

.query-params-container div {
  display: flex;
  gap: 0 6px;
  align-content: center;
  width: fit-content;
  padding: 0 3px;
  border-radius: 6px;
  max-width: 100dvw;
  box-sizing: border-box;
}

.status-codes-container {
  margin-bottom: 30px;
  max-width: fit-content;
}

.status-codes-container div {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr;
  gap: 0 6px;
  align-content: center;
  width: 100%;
  background-color: rgb(243, 243, 243);
  margin-bottom: 5px;
  padding: 0 3px;
  border-radius: 0 0 3px 3px;
  border-bottom: solid 3px rgb(240, 239, 239);
  box-sizing: border-box;
  align-items: center;
}

.success .status-code {
  background-color: green;
  color: white;
  width: fit-content;
  padding: 3px;
  height: fit-content;
  border-radius: 4px;
  font-weight: 600;
}

.error .status-code {
  background-color: red;
  color: white;
  width: fit-content;
  padding: 3px;
  height: fit-content;
  border-radius: 4px;
  font-weight: 600;
}

.status-description,
.status-title {
  padding: 3px;
}

.status-title {
  font-size: small;
}

.git-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6px;
}

.git-handle a {
  text-decoration: none;
  color: #125768;
  transition: all 0.2s;
}

.git-handle a:hover {
  transform: scale(1.02);
}

@media (max-width: 900px) {
  body {
    margin: 0;
    width: 100%;
  }

  nav {
    position: relative;
    width: 100dvw;
    height: fit-content;
    padding-top: 0px;
    margin-top: 30px;
    border-right: none;
    border-bottom: solid 5px #219ebc;
  }

  main,
  header {
    margin: 0 16px;
  }
}
